$base: 0.6rem;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 85px;
    position: fixed;
    top: 0px;
    background-color: rgba(255, 255, 255, 0);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.8) 60%,  rgba(255, 255, 255, 0.5) 100%);
    z-index: 9999;
    transition: all 0.4s ease;

    .header__image {
        position: relative;
        top: 2px;
        transition: all 0.4s ease;
    }

    .header__nav {
        display: flex;
        width: 70%;

        .nav__list {
            width: 100%;
            display: flex;
            justify-content: right;
            list-style: none;

            .nav__item {
                margin-right: 35px;

                .nav__link {
                    position: relative;
                    text-decoration: none;
                    color:rgb(56, 56, 56);
                    font-size: 19px;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    padding-left: 5px;
                    padding-right: 5px;
                
                    &:hover {
                        color:rgb(56, 56, 56);
                    }
                
                    &::before {
                        content: "";
                        position: absolute;
                        display: block;
                        width: 100%;
                        height: 2px;
                        bottom: 0px;
                        left: 0;
                        background-color: rgba(201, 154, 53, 0.8);
                        transform: scaleX(0);
                        transition: transform 0.3s ease;
                    }

                    &:hover::before {
                        transform: scaleX(1);
                    }
                }

                .nav__link--underline {
                    &::after {
                        content: "";
                        position: absolute;
                        display: block;
                        width: 100%;
                        height: 2px;
                        bottom: 0px;
                        left: 0;
                        background-color: rgb(220, 171, 72);
                    }
                }
            }
        }
    }

    .header__socials {
        display: flex;
        margin-right: 25px;
        margin-left: 30px;

        .socials__list {
            display: flex;
            align-items: center;
            list-style: none;

            .socials__item {
                transition: all 0.2s ease-in-out;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }

    .header__burger {
        position: absolute;
        top: 10px;
        right: 16px;
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        display: none;

        .burger__line {
            width: 30px;
            height: 3px;
            background-color:rgb(0, 0, 0, 0.75);
            border-radius: 20px;
            margin: 7px;
            transition: 0.3s ease-in-out;
        }
    }
}

.header--small {
    height: 55px;
    transition: all 0.4s ease;

    .header__image {
        width: 255px;
        height: 50px;
        transition: all 0.4s ease;
    }
}

.full-screen {
    height: 100vh;
}

.main {
    width: 70%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 115px;
    margin-bottom: 55px;
    z-index: 1;
    
    img {
        max-width: 100%;
        height: auto;
        border-radius: 5px;
    }

    &::before {
        content: "";
        position: absolute;
        top: 20px;
        bottom: 20px;
        left: 20px;
        right: 20px;
        border: 2px solid rgb(255, 255, 255);
        border-radius: 5px;
        z-index: 5;
        transition-duration: 0.5s;
    }    

    &:hover {

        &::before {
            left: 0px;
            right: 0px;
            top: 0px;
            bottom: 0px;
            border-radius: 5px;
        }
    }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30vh;
    margin-top: -163px;
   }
   
   .chevron {
     position: absolute;
     width: $base * 3.8;
     height: $base * 0.52;
     opacity: 0;
     transform: scale(0.3);
     animation: move-chevron 3s ease-out infinite;
   }
   
   .chevron:first-child {
     animation: move-chevron 3s ease-out 1s infinite;
   }
   
   .chevron:nth-child(2) {
     animation: move-chevron 3s ease-out 2s infinite;
   }
   
   .chevron:before,
   .chevron:after {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    background: #5a5959;
   }
   
   .chevron:before {
    left: 0;
    transform: skewY(30deg);
   }
   
   .chevron:after {
    right: 0;
    width: 50%;
    transform: skewY(-30deg);
   }

.description {
    margin-top: 135px;
    padding-top: 70px;

    .description__title {
        display: flex;
        align-items: center;
        flex-direction: column;

        h1 {
            font-weight: 700;
            letter-spacing: 2px;
            font-size: 36px;
            color:rgb(56, 56, 56, 0.7);
        }

        h2 {
            font-size: 18px;
            font-weight: 400;
            margin-top: 15px;
            letter-spacing: 1px;
            color:rgb(56, 56, 56, 0.9);
        }
    }

    .description__specification {
        width: 100%;
        display: flex;
        margin-top: 50px;

        .specification__left {
            width: 45%;
            display: flex;
            flex-direction: column;
            align-items: center;

            h2 {
                font-weight: 500;
                font-size: 18px;
                letter-spacing: 1px;
                color:rgb(49, 49, 49, 0.85);
            }

            h3 {
                font-weight: 500;
                font-size: 15px;
                color:rgb(56, 56, 56, 0.8);
                margin-top: 5px;
                margin-bottom: 20px;
                letter-spacing: 1px;
            }

            .left__img {
                border-radius: 50%;
                width: 150px;
            }

            .left__telephone {
                display: inline-block;
                position: relative;
                margin-top: 20px;
                margin-left: -7px;

                a {
                    display: flex;
                    text-decoration: none;
                    color: black;
                }

                .telephone__img {
                    height: 21px;
                    width: auto;
                }

                .telephone__par {
                    margin-top: 1px;
                    margin-left: 7px;
                    color: rgb(54, 54, 54);
                }

                &::after {
                    content: '';
                    position: absolute;
                    width: 81%;
                    transform: scaleX(0);
                    height: 1px;
                    bottom: -1px;
                    left: 27px;
                    background-color: rgba(201, 154, 53, 0.8);
                    transform-origin: bottom right;
                    transition: transform 0.25s ease-out;
                }

                &:hover::after {
                    transform: scaleX(1);
                    transform-origin: bottom left;
                }
            }

            .left__mail {
                display: inline-block;
                position: relative;
                margin-top: 16px;
                margin-left: -7px;

                a {
                    display: flex;
                    text-decoration: none;
                    color: black;
                }

                .mail__img {
                    height: 19px;
                    width: auto;
                }

                .mail__par {
                    margin-top: -1px;
                    margin-left: 7px;
                    color: rgb(54, 54, 54);
                }

                &::after {
                    content: '';
                    position: absolute;
                    width: 86%;
                    transform: scaleX(0);
                    height: 1px;
                    bottom: -3px;
                    left: 26px;
                    background-color: rgba(201, 154, 53, 0.8);
                    transform-origin: bottom right;
                    transition: transform 0.25s ease-out;
                }

                &:hover::after {
                    transform: scaleX(1);
                    transform-origin: bottom left;
                }
            }

            .left__facebook {
                display: inline-block;
                position: relative;
                margin-top: 20px;
                margin-left: -7px;

                a {
                    display: flex;
                    text-decoration: none;
                    color: black;
                }

                .facebook__img {
                    height: 18px;
                    width: auto;
                }

                .facebook__par {
                    margin-top: -1px;
                    margin-left: 7px;
                    color: rgb(54, 54, 54);
                }

                &::after {
                    content: '';
                    position: absolute;
                    width: 84%;
                    transform: scaleX(0);
                    height: 1px;
                    bottom: -3px;
                    left: 24px;
                    background-color: rgba(201, 154, 53, 0.8);
                    transform-origin: bottom right;
                    transition: transform 0.25s ease-out;
                }

                &:hover::after {
                    transform: scaleX(1);
                    transform-origin: bottom left;
                }
            }

            .left__instagram {
                display: inline-block;
                position: relative;
                margin-top: 20px;
                margin-left: -7px;

                a {
                    display: flex;
                    text-decoration: none;
                    color: black;
                }

                .instagram__img {
                    height: 18px;
                    width: auto;
                }

                .instagram__par {
                    margin-top: -1px;
                    margin-left: 7px;
                    color: rgb(54, 54, 54);
                }

                &::after {
                    content: '';
                    position: absolute;
                    width: 72%;
                    transform: scaleX(0);
                    height: 1px;
                    bottom: -3px;
                    left: 26px;
                    background-color: rgba(201, 154, 53, 0.8);
                    transform-origin: bottom right;
                    transition: transform 0.25s ease-out;
                }

                &:hover::after {
                    transform: scaleX(1);
                    transform-origin: bottom left;
                }
            }
        }

        .specification__right {
            width: 40%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-top: 10px;
            margin-left: 65px;

            .right__sentence {
                display: flex;
                margin-bottom: 30px;
                position: relative;
                width: 100%;

                &::after {
                    content: "";
                    width: 95%;
                    height: 1px;
                    background-color: rgb(56, 56, 56, 0.15);
                    position: absolute;
                    bottom: -17px;
                }

                .right__img {
                    height: 15px;
                    margin-top: 5px;
                    margin-right: 10px;
                    opacity: 0.8;
                }

                .right__par {
                    font-size: 18px;
                    font-weight: 300;
                    color: rgb(56, 56, 56);
                }
            }
        }
    }
}

.footer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 15px;

    .footer__left {
        font-size: 12px;
        color:rgb(0, 0, 0, 0.75);
    }

    .footer__right {
        font-size: 12px;
        color:rgb(0, 0, 0, 0.75);
    }

    .footer__center {
        display: flex;
        list-style: none;
        align-items: center;

        .center__link {
            color:rgb(0, 0, 0, 0.6);

            &:hover {
                color: rgb(0, 0, 0, 0.9);
            }
        }

        .center__item {
            text-decoration: none;
            font-size: 19px;
            margin-left: 7px;
            margin-right: 7px;
            color:rgb(0, 0, 0, 0.6);
            transition: all 0.1s ease-in-out;

            &:hover {
                transform: scale(1.18);
            }
        }
    }
}

.scrollup {
    width: 64px;
    height: 64px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: none;
    background: url(../img/arrow.png) no-repeat 0px 0px;
    background-size: 45px;
    z-index: 99999;
    transition: transform 0.2s;
    opacity: 0.9;

    &:hover {
        transform: scale(1.09);
        opacity: 1;
    }
}

@keyframes move-chevron {
    25% {
     opacity: 1;
       }
    33.3% {
     opacity: 1;
     transform: translateY($base * 3.8);
    }
    66.6% {
     opacity: 1;
     transform: translateY($base * 5.2);
    }
    100% {
     opacity: 0;
     transform: translateY($base * 8) scale(0.5);
    }
   }


   /*MEDIA QUERIES !!!*/

/*<=========     MEDIA DLA < 1500px    ============>*/

@media screen and (min-width: 1500px) {
    .main {
        margin-top: 200px;
    }
    .description {
        margin-top: 150px;
        padding-bottom: 120px;
        max-width: 1500px;
        margin-left: auto;
        margin-right: auto;
    }
}


/*<=========      MEDIA DLA MIN 769px / MAX 950px       ============>*/

@media screen and (min-width: 769px) and (max-width: 950px) {
    .header {
        height: 65px;
        .header__image {
            width: 260px;
            height: auto;
        }

        .header__nav {
            .nav__list {
                .nav__item {
                    margin-right: 20px;
                    .nav__link {
                    font-size: 17px;
                    }
                }
            }   
        }

        .icon-instagram:before {
            font-size: 22px;
        }

        .icon-facebook-squared:before {
            font-size: 23px;
            position: relative;
            top: 1px;
        }
    }

    .header--small {
        height: 47px;
        .header__image {
            width: 225px;
            height: auto;
        }

        .icon-facebook-squared:before {
            position: relative;
            top: 1px;
        }
    }

    .main {
        margin-top: 90px;
        width: 65%;
        
        &::before {
            top: 10px;
            bottom: 10px;
            left: 10px;
            right: 10px;
        }
    }

    .container {
        margin-top: -135px;
    }

    .description {
        padding-top: 55px;
        .description__title {
            h1 {
                font-size: 22px;
            }

            h2 {
                font-size: 13px;
                margin-top: 3px;
                color:rgb(0, 0, 0);
            }
        }

        .description__specification {
            margin-top: 25px;
            .specification__left {
                h2 {
                    font-size: 14px;
                }

                h3 {
                    font-size: 13px;
                    margin-top: 0px;
                    margin-bottom: 5px;
                }

                .left__img {
                    width: 110px;
                }

                .left__telephone {
                    margin-top: 5px;

                    .telephone__img {
                        height: 17px;
                    }

                    .telephone__par {
                        font-size: 14px;
                        font-weight: 400;
                        color: rgb(0, 0, 0);
                    }
                }

                .left__mail {
                    margin-top: 10px;
                    .mail__img {
                        height: 15px;
                    }

                    .mail__par {
                        font-size: 14px;
                        font-weight: 400;
                        color: rgb(0, 0, 0);
                    }
                }

                .left__facebook {
                    margin-top: 10px;
                    .facebook__img {
                        height: 15px;
                    }

                    .facebook__par {
                        font-size: 14px;
                        font-weight: 400;
                        color: rgb(0, 0, 0);
                    }
                }

                .left__instagram {
                    margin-top: 10px;
                    .instagram__img {
                        height: 15px;
                    }

                    .instagram__par {
                        font-size: 14px;
                        font-weight: 400;
                        color: rgb(0, 0, 0);
                    }
                }
            }

            .specification__right {
                margin-top: 0px;

                .right__sentence {
                    margin-bottom: 10px;
                    margin-top: 0px;

                    .right__img {
                        height: 13px;
                    }
                    .right__par {
                        font-size: 14px;
                        color: rgb(0, 0, 0);
                        font-weight: 400;
                    }

                    &::after {
                        bottom: -6px;
                    }
                }
            }  
        }
    }

    .footer {
        padding-top: 50px;
    }

    .scrollup {
        width: 40px;
        height: 40px;
        background-size: 30px;
        bottom: 5px;
        right: 5px;
        opacity: 0.95;
    }
}


/*<=================      MEDIA DLA BURGERA NA 482-768px       =================>*/


@media screen and (max-width: 768px) {
    .header {
        .header__burger {
            display: block;
            transition: 0.3s ease-in-out;
        }

        .header__burger--active {
            .burger__line:first-child {
                transform: translateY(10px) rotate(45deg);
            }

            .burger__line:nth-child(2) {
                opacity: 0;
            }

            .burger__line:nth-child(3) {
                
                transform: translateY(-10px) rotate(-45deg);
            }
        }

        .header__nav {
            position: absolute;
            right: 0px;
            top: 0vh;
            background-color: rgba(230, 230, 230, 0.97);
            height: 100vh;
            width: 50vw;
            transform: translate(100%);
            transition: 0.3s ease-in-out; 
            
            .nav__list {
                position: absolute;
                top: 12vh;
                flex-direction: column;
                text-align: center;

                .nav__item {
                    padding-top: 20px;
                    padding-bottom: 20px;
                    margin: 0;
                    border-bottom: 1px solid rgba(83, 83, 83, 0.2);

                    &:last-child {
                        border: none;
                    }
                }
            }
        }

        .header__nav--active {
            transform: translate(0%);
        }

        .header__socials {
            width: 50vw;
            margin-right: 0px;
            margin-left: 0px;
            position: absolute;
            top: 15px;
            right: 0;  
            display: flex;
            transform: translate(100%);
            transition: 0.3s ease-in-out; 

            .socials__list {
                width: 50vw;
                display: flex;
                justify-content: left;
                margin-left: 14px;
            }
        }

        .header__socials--active {
            transform: translate(0%);
        }
    }
}



/*<=================      MEDIA DLA BURGERA NA MAX 481px       =================>*/


@media screen and (max-width: 481px) {
    .header {
        .header__nav {
            width: 100vw;

            .nav__list {
                top: 15vh;
            }
        }

        .header__socials {
            width: 100vw;

            .socials__list {
                width: 100vw;
            }
        }

        .header__burger {
            position: absolute;
            top: 9px;
            right: 7px;
        }

        .header__burger--active {
            .burger__line:first-child {
                transform: translateY(10px) rotate(45deg);
            }

            .burger__line:nth-child(2) {
                opacity: 0;
            }

            .burger__line:nth-child(3) {
                
                transform: translateY(-10px) rotate(-45deg);
            }
        }
    }
}


/*<=================      MEDIA DLA MIN 481px / MAX 768px      =================>*/


@media screen and (min-width: 481px) and (max-width: 768px) {
    .header {
        height: 55px;
        background-image: none;
        background-color: rgba(230, 230, 230, 0.9);

        .header__image {
            width: 255px;
            height: 50px;
        }
    }

    .full-screen {
        display: none;
    }

    .description {
        margin-top: 25px;
        margin-bottom: 0px;

        .description__title {
            text-align: center;

            h1 {
                font-size: 23px;
            }

            h2 {
                font-size: 14px;
                margin-top: 5px;
            }
        }

        .description__specification {
            margin-top: 50px;

            .specification__left {
                margin-top: 1px;

                h2 {
                    font-size: 14px;
                }

                h3 {
                    font-size: 12px;
                    margin-bottom: 15px;
                }

                .left__img {
                    width: 100px;
                }

                .left__telephone {
                    margin-top: 15px;

                    .telephone__img {
                        height: 18px;
                    }

                    .telephone__par {
                        font-size: 15px;
                        margin-top: 0px;
                    }
                }

                .left__mail {
                    margin-top: 15px;

                    .mail__img {
                        height: 16px;
                    }

                    .mail__par {
                        font-size: 15px;
                        margin-top: -2px;
                    }
                }

                .left__facebook {
                    margin-top: 15px;

                    .facebook__img {
                        height: 16px;
                    }

                    .facebook__par {
                        font-size: 15px;
                        margin-top: -2px;
                    }
                }

                .left__instagram {
                    margin-top: 15px;
                    
                    .instagram__img {
                        height: 16px;
                    }

                    .instagram__par {
                        font-size: 15px;
                        margin-top: -2px;
                    }
                }
            }

            .specification__right {
                width: 50%;
                margin-left: 10px;
                margin-right: 10px;
                margin-top: 0px;

                .right__sentence {
                    margin-bottom: 15px;

                    &::after {
                        bottom: -9px;
                    }
                
                    .right__img {
                        height: 12px;
                    }

                    .right__par {
                        font-size: 14px;
                        font-weight: 400;
                    }
                }
            }
        }
    }

    .footer {
        position: fixed;
        bottom: 0px;

        .footer__left {
            font-size: 11px;
            text-align: center;
            color:rgb(0, 0, 0, 0.8);
            font-weight: 500;
            margin-right: 10px;
        }

        .footer__right {
            font-size: 11px;
            text-align: center;
            color:rgb(0, 0, 0, 0.8);
            font-weight: 500;
            margin-left: 10px;
        }

        .footer__center {
            .center__item {
                font-size: 15px;
                margin-left: 2px;
                margin-right: 2px;
                color:rgb(0, 0, 0, 0.9);
            }
        }
    }

    .scrollup {
        width: 40px;
        height: 40px;
        background-size: 30px;
        bottom: 5px;
        right: 5px;
        opacity: 0.95;
    }
}


/*<=================      MEDIA DLA MIN 320px / MAX 480px      =================>*/


@media screen and (min-width: 320px) and (max-width: 480px) {
    .header {
        height: 55px;
        background-image: none;
        background-color: rgba(230, 230, 230, 0.9);

        .header__image {
            margin-left: -15px;
            width: 255px;
            height: 50px;
        }
    }

    .full-screen {
        display: none;
    }

    .description {
        margin-top: 15px;
        margin-bottom: -20px;

        .description__title {
            width: 90%;
            text-align: center;
            margin-left: auto;
            margin-right: auto;

            h1 {
                font-size: 23px;
            }

            h2 {
                font-size: 14px;
                margin-top: 5px;
            }
        }

        .description__specification {
            margin-top: 30px;
            margin-bottom: -30px;
            flex-direction: column;

            .specification__left {
                width: 100%;
                margin-top: 0px;
                margin-left: 0px;
                margin-right: 0px;

                h2 {
                    font-size: 16px;
                }

                h3 {
                    font-size: 13px;
                    margin-bottom: 15px;
                }

                .left__img {
                    width: 120px;
                }

                .left__telephone {
                    margin-top: 15px;

                    .telephone__img {
                        height: 18px;
                    }

                    .telephone__par {
                        font-size: 15px;
                        margin-top: 0px;
                    }
                }

                .left__mail {
                    margin-top: 15px;

                    .mail__img {
                        height: 16px;
                    }

                    .mail__par {
                        font-size: 15px;
                        margin-top: -2px;
                    }
                }

                .left__facebook {
                    margin-top: 15px;

                    .facebook__img {
                        height: 16px;
                    }

                    .facebook__par {
                        font-size: 15px;
                        margin-top: -2px;
                    }
                }

                .left__instagram {
                    margin-top: 15px;
                    
                    .instagram__img {
                        height: 16px;
                    }

                    .instagram__par {
                        font-size: 15px;
                        margin-top: -2px;
                    }
                }
            }

            .specification__right {
                width: 80%;
                margin-left: auto;
                margin-right: auto;
                margin-top: 60px;

                .right__sentence {
                    margin-bottom: 20px;

                    &::after {
                        bottom: -11px;
                    }
                
                    .right__img {
                        height: 14px;
                    }

                    .right__par {
                        font-size: 16px;
                        font-weight: 400;
                    }
                }
            }
        }
    }

    .footer {
        .footer__left {
            font-size: 10px;
            text-align: center;
            color:rgb(0, 0, 0, 0.8);
            font-weight: 500;
            margin-right: 10px;
        }

        .footer__right {
            font-size: 10px;
            text-align: center;
            color:rgb(0, 0, 0, 0.8);
            font-weight: 500;
            margin-left: 10px;
        }

        .footer__center {
            .center__item {
                font-size: 15px;
                margin-left: 2px;
                margin-right: 2px;
                color:rgb(0, 0, 0, 0.9);
            }
        }
    }

    .scrollup {
        width: 40px;
        height: 40px;
        background-size: 30px;
        bottom: 5px;
        right: 5px;
        opacity: 0.95;
    }
}


/*<=================      MEDIA NA IPADY      =================>*/


@media screen and (min-width: 600px) and (max-width: 1025px) and (orientation:portrait) {
    .full-screen {
        display: none;
    }

    .description {
        margin-top: 200px;
    }

    .footer {
        position: fixed;
        bottom: 0px;
    }
}




