
.icon-picture:before { content: '\e800'; } /* '' */
.icon-camera-outline:before { content: '\e801'; } /* '' */
.icon-mail:before { content: '\e802'; } /* '' */
.icon-phone:before { content: '\e803'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-money:before { content: '\f0d6'; } /* '' */
.icon-instagram-1:before { content: '\f16d'; } /* '' */
.icon-calendar-check-o:before { content: '\f274'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */
